# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment
.env
venv/
env/

# Media files
media/

# Static files
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo